[submodule "third_party/glslang"]
	path = third_party/glslang
	url = git@github.com:Black-Cat/glslang.git
[submodule "third_party/enet"]
	path = third_party/enet
	url = git@github.com:Black-Cat/enet.git
[submodule "third_party/tracy"]
	path = third_party/tracy
	url = git@github.com:Black-Cat/tracy.git
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = git@github.com:Black-Cat/glfw.git
